[submodule "protocol/client"]
	path = protocol/client
	url = git@gitee.com:zylikedream/mahong-protocol.git
	ignore = all
[submodule "gameconfig"]
	path = gameconfig
	url = https://gitee.com/zylikedream/garden_config_go.git
	ignore = all
